body {
    width: 450px;
    height: fit-content;
    background-color: beige;
}

#outputBody {
    overflow-x: scroll;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

ul li{
    min-width: 50%;
}

ul li button {
    width: -webkit-fill-available;
    background: #ccc;
    text-align: center;
}

ul li button:hover {
    background: #ddd;
}